/*.menu-item {
  padding: 1rem;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  background: rgba(230, 210, 169, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.menu-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.item-image {
  max-width: 100%;
  max-height: 200px; 
  width: auto; 
  height: auto; 
  object-fit: contain; 

.item-details {
  padding: 15px;
}

.item-name {
  color: #3e2723; 
  font-weight: 600;
  margin-bottom: 10px;
}

.item-price {
  font-size: 1rem;
  color: #ff6347;
  margin-bottom: 10px;
}

.item-description {
  font-size: 20px;
  color: #5c4033; 
  font-weight: 400;
  margin-bottom: 15px;
}

.add-to-cart-btn {
  background: #333;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 20px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.add-to-cart-btn:hover {
  background: #ff6347;
}

/*Moved all menu-related styling to MenuPage.css