/* IN USE (Navbar) - KEEP HERE*/
.navbar {
  position: fixed;
  top: 20px;
  left: 48px;
  /* right: 0; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 155px;
  /* height: 100%;
  max-height: 430px; */
  padding: 10px 50px;
  border-radius: 5px;
  background-color: rgba(
    14,
    13,
    13,
    0.99
  ); /* Slightly-transparent background */
  z-index: 1000;
  padding-bottom: 55px;
  border-color: rgb(16, 16, 16);
  box-shadow: 0 0 10px rgb(223, 176, 135);
}

/* NOT IN USE (Navbar) - IF USING FOR THE Navbar logo, UPDATE HERE*/
/* .nav-logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
} */

/* IN USE (Navbar) - KEEP HERE*/
.nav-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 7px;
}

/* IN USE (Navbar) - KEEP HERE*/
.nav-links li {
  margin: 0 15px;
  margin-bottom: 20px;
}

/* IN USE (Navbar) - KEEP HERE*/
.nav-links a {
  text-decoration: none;
  color: rgba(243, 233, 212, 0.8);
  font-family: "Amatic SC", cursive;
  font-size: 2.2rem;
  transition: color 0.3s ease;
}

/* IN USE (Navbar) - KEEP HERE*/
.nav-links a:hover {
  color: #ff6347; /* Tomato color */
}

/* IN USE (Navbar) - KEEP HERE*/
.navbar-cafe-name {
  /* font-family: "Amatic SC", cursive; */
  font-family: "Alike", serif;
  font-size: 1.7rem;
  color: rgba(243, 233, 212, 0.8);
  text-shadow: 2px 2px 4px rgba(246, 240, 240, 0.5);
  text-align: center;
  margin-bottom: 20px;
}
