@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Roboto:wght@300;400&display=swap");

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background: url("../images/Bean_and_Ivy_London.png") no-repeat center center
    fixed;
  background-size: cover;
  min-height: 100vh;
}

.App {
  max-width: 150vw;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 25vh; /* Adjust as needed */
  padding-left: 255px; /*MOVE TO nav-routes-container - Adjust this value based on your navbar's width. 155px width + 50px left padding + 50px right padding = 255px */
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cursive-heading {
  font-family: "Amatic SC", cursive;
  font-size: 3em;
  color: #f8f4e9;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.home-page,
.about-us,
.checkout-page {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  margin: 2rem auto; /* Center the block and add some margin */
  max-width: 85%; /* Use percentage for responsiveness */
  /* Remove the bottom, left, and transform properties */
  background-color: rgba(230, 210, 169, 0.8);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  line-height: 1.5;
  text-align: center;
}

strong {
  color: #3e2723; /* Dark Espresso Brown */
  font-weight: 600; /* Slightly bolder for emphasis */
}

.about-us p {
  font-size: 20px;
  color: #5c4033; /* Deep mocha brown for warm readability */
  font-weight: 400; /* Ensures standard text weight */
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  padding-left: 20px;
}

/* IN USE - RENAME and/or MOVE TO MenuPage/MenuItem.css ? */
.menu-intro {
  font-size: 20px;
  color: #5c4033; /* Deep mocha brown for warm readability */
  font-weight: 400; /* Ensures standard text weight */
  text-align: left;
  font-family: "Roboto", sans-serif;
  padding-left: 20px;
}

/* USE - TBC - MOVE TO MenuPage.css / DELETE? */
/*.menu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2rem;
}*/

/* USE - TBC - MOVE TO MenuPage/MenuItem.css ? */
.menu-card {
  background-color: rgba(250, 238, 171, 0.9);
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

/* USE - TBC - MOVE TO MenuPage/MenuItem.css ? */
.menu-card:hover {
  transform: translateY(-5px);
}

/* USE - TBC - MOVE TO MenuPage/MenuItem.css ? */
.menu-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

/* USE - TBC - MOVE TO MenuPage/MenuItem.css ? */
.menu-price {
  font-family: "Amatic SC", cursive;
  font-size: 1.5em;
  color: #f5e2d6;
}

/* USE - TBC - MOVE TO MenuPage/MenuItem.css ? */
.menu-description {
  color: #faf7f7;
  font-size: 0.9em;
  height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

/* USE - TBC - MOVE TO separate css for orders/cart ? */
.order-button {
  background-color: #755343;
  color: #f8f4e9;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Amatic SC", cursive;
  font-size: 1.2em;
  transition: background-color 0.3s ease;
}

/* USE - TBC - MOVE TO separate css for orders/cart ? */
.order-button:hover {
  background-color: #8b6246;
}

/* USE - TBC ? */
.product-page {
  background-color: rgba(230, 210, 169, 0.8);
  max-width: 600px;
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* USE - TBC ? */
.product-image {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 1rem;
}

/* USE - TBC ? */
.product-description {
  color: #f8f4f4;
  margin-bottom: 1rem;
}

/* USE - TBC ? */
input[type="number"] {
  width: 50px;
  padding: 5px;
  margin-right: 10px;
}

/* Z added new container for the nav+routes div in MyRoutes.jsx */
.nav-routes-container {
  display: flex;
  flex-direction: row; /* Align elements horizontally */
  gap: 5rem; /*Space between items */
  width: 100%; /* Ensure the container takes full width */
  justify-content: space-around;
  flex-wrap: wrap; /* Allow wrapping on smaller screens */
  padding: 0; /* Remove any unnecessary padding that could restrict resizing */
  margin: 0 auto;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
  .nav-routes-container {
    flex-direction: column; /* Stack elements in a column on smaller screens */
    align-items: center; /* Center the items if needed */
    gap: 20px; /* Increase gap for stacked items */
  }
}

@media (max-width: 800px) {
  .home-page,
  .about-us,
  .checkout-page {
    padding-left: 5px; /* Adjust padding on small screens */
    padding-right: 5px;
  }
}

@media (max-width: 768px) {
  .App,
  .nav-routes-container,
  body {
    padding-left: 0; /* Remove padding on smaller screens */
  }
}
